#KEGG-Pathway-App-container img {
  max-width:100%;
  max-height:100%;
}

#KEGG-Pathway-App-container p {
  text-indent: 30px;
}

#KEGG-Pathway-App-container .err-text {
  color: red;
}


.node circle {
   fill: #fff;
   stroke: steelblue;
   stroke-width: 3px;
 }

 .node text { font: 12px sans-serif; }

 .link {
   fill: none;
   stroke: #ccc;
   stroke-width: 2px;
 }
